In [1]:
import pandas as pd
import numpy as np

In [2]:
data_set1 = pd.read_excel('data.xlsx')

In [3]:
n=len(data_set1)
print(f'The number of rows are {n}')

The number of rows are 10683

In [4]:
Final_Train_set = data_set1.iloc[:int(0.8*n)]

In [5]:
Final_Test_set = data_set1.iloc[int(0.8*n):]

In [6]:
Final_Test_set.reset_index(inplace=True)
Final_Test_set=Final_Test_set.drop(columns=['index'])

In [7]:
Final_Test_set

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,Jet Airways,27/03/2019,Delhi,Cochin,DEL → MAA → BOM → COK,05:10,18:50,13h 40m,2 stops,In-flight meal not included,8728
1,Jet Airways,1/05/2019,Kolkata,Banglore,CCU → DEL → BLR,20:25,14:25 02 May,18h,1 stop,No info,11467
2,Multiple carriers,6/03/2019,Delhi,Cochin,DEL → BOM → COK,09:00,15:30,6h 30m,1 stop,No info,15078
3,Multiple carriers,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:00,01:30 07 Jun,8h 30m,1 stop,No info,7198
4,Air India,24/06/2019,Delhi,Cochin,DEL → BOM → COK,21:00,07:40 25 Jun,10h 40m,1 stop,No info,8372
...,...,...,...,...,...,...,...,...,...,...,...
2132,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
2133,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
2134,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
2135,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
2136,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [8]:
Final_Train_set

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
8541,Jet Airways,18/05/2019,Kolkata,Banglore,CCU → BOM → BLR,20:00,04:40 19 May,8h 40m,1 stop,No info,13941
8542,Jet Airways,1/05/2019,Kolkata,Banglore,CCU → BOM → BLR,16:30,22:35,6h 5m,1 stop,In-flight meal not included,10844
8543,Jet Airways,9/05/2019,Kolkata,Banglore,CCU → BOM → BLR,06:30,19:50,13h 20m,1 stop,In-flight meal not included,10844
8544,SpiceJet,24/05/2019,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,non-stop,No check-in baggage included,3841
8545,Jet Airways,15/05/2019,Kolkata,Banglore,CCU → BOM → BLR,06:30,16:20,9h 50m,1 stop,In-flight meal not included,10844

In [9]:
Final_Test_set.to_excel('Final_Test_set.xlsx')
Final_Train_set.to_excel('Final_Train_set.xlsx')